@import url("http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200");
@import url("http://fonts.googleapis.com/css?family=Lobster");
@import url("http://fonts.googleapis.com/css?family=Raleway:400,300,200");
body {
  font-family: Segoe UI, Helvetica, Arial, sans-serif; }

body, .left-column, #map-canvas {
  height: 100%; }

.left-column {
  float: left;
  width: 18rem;
  background-color: #eeeeee;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.3); }

.right-column {
  margin-left: 18rem; }

.hidden-text {
  text-indent: -9999px;
  position: absolute; }

h2 {
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 300; }

/* --------------------------------
   Left Column */
.logo {
  font-size: 3rem;
  line-height: .5rem 1rem 1.2rem;
  margin: 0;
  padding: 0 1rem;
  background-color: #6659ad;
  border-right: 1px solid #eeeeee;
  font-family: 'Lobster', sans-serif;
  color: #333333; }

.logo > span {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-decoration: underline;
  font-style: italic;
  color: white;
  text-shadow: -1px -1px 0 #333333, 1px -1px 0 #333333, -1px 1px 0 #333333, 1px 1px 0 #333333;
  letter-spacing: 2px; }

.left-column h2 {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0; }

.show-more {
  display: block; }

.filter, .show-more {
  padding: .5rem 1rem; }

.filter label {
  display: block; }

.filter input[type="text"] {
  width: 100%; }

.input-simple {
  background-color: transparent;
  font-weight: bold;
  font-size: 95%;
  border: none;
  margin: .4rem 0; }

/* ---------------------------------
   Right column */
.top-bar {
  height: 3rem;
  line-height: 3rem;
  padding-left: 1rem;
  background-color: #333333;
  color: white; }

.top-bar .profile-link {
  float: right;
  color: white; }

.profile-link .profile-picture {
  height: 100%;
  width: auto; }

.profile-link > span {
  float: right;
  padding: 0 1rem; }
