@import "sass/variables";
@import "sass/mixins";

body {
	font-family: $baseFontFamily;
}

body, .left-column, #map-canvas {
	height: 100%;
}

.left-column {
	float: left;
	width: 18rem;
	background-color: $grayLighter;
	//border-right: 1px solid $grayLight;
	box-shadow: 3px 0 5px rgba($black, 0.3);
}
.right-column {
	margin-left: 18rem;
}

.hidden-text {
	text-indent: -9999px;
	position: absolute;
}

p {
	margin-top: 0;
}

h2 {
	font-family: $headerFontFamily;
	font-weight: $headerFontWeight;
	font-size: 175%;
	margin-bottom: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.btn {
	background-color: $btnColor;
	border: none;
	&:hover {
		background-color: darken($btnColor, 5%);
	}
}

.btn-primary {
	background-color: $primaryBtnColor;
	&:hover {
		background-color: darken($primaryBtnColor, 5%);
	}
}

/* --------------------------------
   Left Column */

.logo {
	font-size: 3rem;
	line-height: 1em;
	padding: .5rem 1rem 1.2rem;
	margin: 0;
	background-color: $color1;
	border-right: 1px solid $grayLighter;
	font-family: 'Lobster', sans-serif;
	color: $grayDark;
}

.logo > span {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-decoration: underline;
	font-style: italic;
	color: $white;
	text-shadow: -1px -1px 0 $grayDark, 1px -1px 0 $grayDark, -1px 1px 0 $grayDark, 1px 1px 0 $grayDark;
	letter-spacing: 2px;
}

.left-column h2 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.filter-location input {
	font-size: 110%;
	padding: .4rem;
}

.filters-area > a {
	display: block;
}

.filters-area > .filter, 
.filters-area > a {
	padding: .5rem 1rem;
}

.filter label {
	display: block;
}

.filter input[type="text"] {
	width: 100%;
}

.input-simple {
	background-color: transparent;
	font-weight: bold;
	font-size: 95%;
	border: none;
	margin: .4rem 0;
}

/* ---------------------------------
   Right column */

.top-bar {
	height: $topBarHeight;
	line-height: $topBarHeight;
	padding-left: 1rem;
	background-color: $grayDark;
	color: $white;
}

.top-bar .profile-link {
	float: right;
	color: white;
}

.profile-link .profile-picture {
	height: 100%;
	width: auto;
}

.profile-link > span {
	float: right;
	padding: 0 1rem;
}



/* ----------------------------------
   Details modal */

.venue-header {
	background: url('venues/w-austin.jpg') no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	min-height: 200px;
}

.venue-name {
	max-width: 50%;
	float:left;
	font-family: $headerFontFamily;
	font-weight: $headerFontWeight;
	background-color: rgba($color2,0.95);
	color: $white;
	padding: .3rem .5rem;
	margin: .5rem .5rem 0 .5rem;
}

.venue-price {
	float:left;
	clear:left;
	background-color: rgba($black, 0.5%);
	color: white;
	padding: .5rem;
	margin: 0 .5rem .5rem .5rem;
	font-size: 80%;
	.price {
		font-size: 1.8rem;
		font-weight: bold;
		display: block;
		padding: .2rem 0;
	}
}

.venue-contact {
	max-width: 50%;
	float:right;
	text-align: right;
	color: $white;
	padding: .5rem .5rem .5rem 2rem;
	margin: .5rem;
	background-color: rgba($black, 0.5);
	a {
		color: $white;
	}
}

.venue-body {
	margin: 0 .5rem;
}

.venue-options {
	text-align: center;
	.btn {
		margin: .5rem .25rem .5rem .25rem;
		padding: .7rem .5rem;
		font-size: 110%;
		width: 45%;
	}
	.save-venue.checked.hover{
		background-color: $btnWarningColor;
	}
}

.venue-tabbed-area {
	float: left;
	width:66%;
}

.venue-resources-area {
	float: right;
	width: 32%;
}

/* -------------------------------------
   Tabs */

ul.tabs {  
    margin: 5px 0 4px 0; 
    padding: 0;  
}
ul.tabs li {  
    list-style: none;  
    display: inline-block;
}
ul.tabs li a {  
    padding: 5px 20px;
    background-color: $grayLight;
    color: $grayDark;
    text-decoration: none;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    &:hover {
    	background-color: $grayLighter;
	    border-color: $grayLight;
    }
    &.active {
    	background-color: $white;
	    border-color: $grayLight;
    }
}
.tab-content{
	padding: .5rem;
	border: 1px solid lighten($grayLight, 10%);
}

.accordian-link {
	display:block;
	padding: .8rem;
	border: 1px solid $grayLight;
	text-decoration: none;
	&.collapsed {
		@include gradientBar($white, $grayLighter, $grayDark);
	}
}

.accordian-link + ul {
	margin: 0;
	padding: 0;
	li {
    list-style: none;  
	list-style: none;
	padding: .5rem .8rem;
	}
}



/* --------------------------------------------
   Modals */
//

// Recalculate z-index where appropriate,
// but only apply to elements within modal
.modal-open .modal {
  .dropdown-menu {  z-index: $zindexDropdown + $zindexModal; }
  .dropdown.open { *z-index: $zindexDropdown + $zindexModal; }
  .popover       {  z-index: $zindexPopover  + $zindexModal; }
  .tooltip       {  z-index: $zindexTooltip  + $zindexModal; }
}

// Background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindexModalBackdrop;
  background-color: $black;
  // Fade for backdrop
  &.fade { opacity: 0; }
}

.modal-backdrop,
.modal-backdrop.fade.in {
  @include opacity(30);
}

// Base modal
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: $zindexModal;
  overflow: auto;
  width: 60%;
  height: 80%;
  margin: -40% 0 0 -20%;
  background-color: $white;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.3);
  *border: 1px solid #999; /* IE6-7 */
  @include box-shadow(0 3px 7px rgba(0,0,0,0.3));
  /*.background-clip(padding-box);*/
  &.fade {
    @include transition(e('opacity .3s linear, top .3s ease-out'));
    top: -100%;
  }
  &.fade.in { top: 50%; }
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  // Close icon
  .close { margin-top: 2px; }
  // Heading
  h3 {
    margin: 0;
    line-height: 30px;
  }
}

// Body (where all modal content resides)
.modal-body {
  overflow-y: auto;
}
// Remove bottom margin if need be
.modal-form {
  margin-bottom: 0;
}

// Footer (for actions)
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right; // right align buttons
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  @include box-shadow(inset 0 1px 0 $white);
  @include clearfix(); // clear it in case folks use .pull-* classes on buttons

  // Properly space out buttons
  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
}
